@use '../abstracts/variables' as vars;
@use '../abstracts/colors';
@use '../abstracts/mixins';

.card {
   max-width: vars.$container-max-width;
   display: flex;
   flex-direction: column;
   gap: 1.6rem;
   padding: 2.2rem;
   border-radius: vars.$card-border-radius;
   background-color: colors.$card-bg;
   box-shadow: 0px 20px 2px 15px rgba(12,23,41,.9),
   0px 25px 2px 40px rgba(12,23,41,.6);

   &-img-container {
      position: relative;
      width: 100%;
      height: auto;
      border-radius: vars.$card-border-radius;
      overflow: hidden;
   }

   &-img {
      display: block;
      width: 100%;
      height: auto;
   }

   &-img-cover {
      @include mixins.flex-center();
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: .3s;

      img {
         width: 4.8rem;
         height: 4.8rem;
      }

      &:hover {
         opacity: 1;
         background-color: rgba(colors.$cyan, .7);
      }
   }

   &-title {
      color: colors.$white;
      font-size: 2.2rem;
      font-weight: vars.$font-weight-bold;
      transition: .3s;

      &:hover {
         color: colors.$cyan;
      }
   }

   &-details {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1.6rem;
      font-size: 1.65rem;
      border-bottom: .1rem solid rgba(colors.$soft-blue, .3);
   }

   &-value {
      @include mixins.flex-center();
      gap: .5rem;
      color: colors.$cyan;

      img {
         width: 1.1rem;
         height: 1.8rem;
      }
   }

   &-time {
      @include mixins.flex-center();
      gap: .5rem;

      img {
         width: 1.7rem;
         height: 1.7rem;
      }
   }

   &-creator {
      display: flex;
      align-items: center;
   }

   &-creator-avatar {
      width: 3rem;
      height: auto;
      margin-right: 1.2rem;
      border: .1rem solid colors.$white;
      border-radius: 50%;
   }

   &-creator-text {
      font-size: 1.6rem;
   }

   &-creator-link {
      color: colors.$white;
      transition: .3s;

      &:hover {
         color: colors.$cyan;
         cursor: pointer;
      }
   }
}