@use '../abstracts/variables' as vars;
@use '../abstracts/colors';

:root {
   font-size: vars.$font-size-root;
}

body {
   font-family: vars.$font-family-base;
   font-size: vars.$font-size-base;
   font-weight: vars.$font-weight-normal;
   line-height: vars.$line-height-base;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   padding: 2rem;
   color: colors.$soft-blue;
   background-color: colors.$main-bg;
}